@import url('https://fonts.googleapis.com/css?family=Cabin|Inknut+Antiqua|Neuton');
@import url('webfonts/fontface.css');

body {
  background: gray;
  color: black;
  font-family: "bagnard_numbers", "Inknut Antiqua";
  font-size: 4mm;
  font-weight: normal;
  box-sizing:border-box;
  text-rendering:geometricPrecision;
  -webkit-font-smoothing: antialiased!important;
  font-variant-numeric: lining-nums;
}

div {
  box-sizing: inherit;
}

span {
  word-wrap: break-word;
}

.card {
  background: white;
  color: black;
  border-radius: 3mm;
  margin: 10pt;
  border: black 0.1mm solid;
  /* overflow-x:auto; */
  overflow: hidden;
  float:left;
}

.map {
  width: 70mm;
  height: 70mm;
  padding: 3mm;
  font-size: 3.2mm;
  line-height: 1.4em;
}

.library {
  width: 41mm;
  height: 63mm;
  padding: 3mm;
  font-size: 3.5mm;
  line-height: 1.3em;
}

.map .info {
  text-transform: uppercase;
  font-size: 4mm;
  text-align: center;
  text-decoration: underline;
}

.library .info {
  display: block;
border-bottom: gray solid 0.1mm;
  margin-top: -2mm;
  margin-bottom: 3mm;
  text-transform: uppercase;
  width: 100%;
  line-height: normal;
  font-size: 3mm;
  font-family: "youngserifregular";
  vertical-align:top;
}
.nr {
  font-family: "bagnard_numbers";
  display: none;
}
.library .info::before {
  content: "📚 ";
}
.map .info::before {
  content: "";
}

h1, .heading {
  font-size: 1.5em;
  font-weight: inherit;
  margin:0;
  padding: 0;
  line-height: 1.3em;
  font-family: "youngserifregular";
}

.symbol {
  display: inline-block;
  overflow: visible;
  font-weight: normal;
  font-family: "bagnard_numbers", youngserifregular;
  color:black;
  font-size: 1em;
  border: 0.2pt lightgray solid;
  border-radius: 1em;
  padding: 0em 0.3em 0em  0.3em;
}
.kraft::before {
  padding: 0em 0.5em 0em 0em;
  content: "✊";
}
.smidighet::before {
  padding: 0em 0.5em 0em 0em;
  content: "👟";
}
.kunskap::before {
  padding: 0em 0.5em 0em 0em;
  content: "🧠";
}
.charm::before {
  padding: 0em 0.5em 0em 0em;
  content: "💬";
}
.lib {
  font-weight: normal;
  text-transform:uppercase;
}
.lib::before {
  padding: 0em 0.5em 0em 0em;
  content: "📚";
}

hr {
  border:none;
}

.verb {
  font-style: ;
  text-transform:uppercase;
}

.number {
  display: inline-block;
  font-weight: normal;
  font-family: "bagnard_numbers", youngserifregular;
}

.underlined {
  text-decoration: underline;
  text-decoration-color: lightgray;
  font-variant: small-caps;
}

table {
  width: 100%;
  height: 100%;
  text-align: center;
  border-collapse: collapse;;
  margin: 0;
  padding: 0;
}

.path {
  font-size: 3mm;
  font-family: "bagnard_regular";
  display: inline-block;
  background: black;
  color: white;
  padding-left: 1mm;
  padding-right: 1mm;
  text-align: center;
  border-radius: 10mm;
  margin-right: 1mm
}

td,tr,th {
  font-weight: inherit;
  padding: 1mm;
  margin: 0;
  line-height: 1.2em;
  font-size: 3mm;
}

td {
  width: 25%;
}

tr:nth-of-type(1),tr:nth-of-type(2) {
  border-bottom: gray 0.1mm solid
}

td:nth-of-type(2), td:nth-of-type(3), td:nth-of-type(4) {
  border-left: gray 0.1mm solid;
}

@media print {
    body {
        background: white;
        margin: -2mm -2mm
    }

	.card {
		box-shadow: none;
		border: 1px dashed black;
        border-radius: 0;
        margin: 0;
        page-break-inside: avoid;
	}


	form {
		display: none;
	}
}

@page
{
    size: A4;   /* auto is the initial value */

    /* this affects the margin in the printer settings */
    margin: 0mm 0mm 0mm 0mm;
}
